<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments::menu(${head_hello}, 'About', ${admin})}"></div>
<main style="flex: 1" class="container">
    <div>
        <h1 class="mt-5">ollama-gate</h1>
        <p class="lead">Этот проект создан специально для предоставления контролируемого доступа к ollama нейросети. Для доступа к нейросетям нужно использовать токен который вы добавите в header к вашему post запросу для обращения к ollama</p>
        <p>Документация к эндпоинтам <a href="/swagger-ui/index.html">находиться в Swagger</a></p>
    </div>
    <div class="d-flex gap-1">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Change Password
        </button>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-secondary" type="submit" >Logout</button>
        </form>
    </div>

<!--    <a href="#" class="btn btn-secondary" th:href="@{/logout}">Logout</a>-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Changing Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/password}" method="post">
                    <div class="modal-body gap-1">
                        <div class="form-floating">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                                <label for="password">New password</label>
                            </div>
                            <div class="form-floating" >
                                <input type="password" class="form-control" placeholder="Password" id="password2" name="password2">
                                <label for="password2">Confirm password</label>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
<div th:insert="~{fragments::footer}"></div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>