<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<main class="form-signin flex-shrink-0">
    <form th:action="@{/login}" method="post">
        <img class="mb-4" src="/images/ollama_logo.png" alt="" width="170" >
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Username" id="username" name="username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" placeholder="Password" id="password" name="password">
            <label for="password">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <div th:if="${param.error}" class="alert alert-danger my-1" role="alert">
            Wrong password or username
        </div>
        <div th:if="${param.logout}" class="alert alert-success my-1" role="alert">
            Logged out
        </div>
        <p class="mt-5 mb-3 text-muted">created by TheJustRusik🔥</p>
    </form>
</main>
</body>
</html>
