<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
<div style="flex: 1">
    <div th:insert="~{fragments :: menu(${head_hello}, 'Home', ${admin})}"></div>

    <div class="container">
        <form th:if="${admin}" th:action="@{/token}" method="post">
            <h1 class="h3 mb-3 fw-normal">Create new token</h1>
            <div style="display: flex" class="gap-4">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Username" id="title" name="title">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating w-100" >
                    <input type="text" class="form-control" placeholder="Password" id="description" name="description">
                    <label for="description">Description</label>
                </div>
                <select class="form-select w-25" aria-label="Select user" id="username" name="username">
                    <option th:value="${user.getUsername()}" th:each="user : ${users}" th:text="${user.getUsername()}"></option>
                </select>
                <div class="form-floating w-100" >
                    <input type="text" class="form-control" placeholder="separate by space" id="models" name="models">
                    <label for="models">Models</label>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
        <h1 class="h3 mt-2 mb-3 fw-normal" th:text="${all_tokens}"></h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col" th:if="${admin}">Owner</th>
                <th scope="col">Used</th>
                <th scope="col">Time</th>
                <th scope="col">Token</th>
                <th scope="col">Models</th>
                <th scope="col" th:if="${admin}">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="token, iter : ${tokens}">
                <th scope="row" th:text="${iter.index + 1}"></th>
                <td th:text="${token.getTitle()}"></td>
                <td th:text="${token.getDescription()}"></td>
                <td th:text="${token.getOwner().getUsername()}" th:if="${admin}"></td>
                <th scope="col" th:text="${token.getUsedTimes()}"></th>
                <th scope="col" th:text="${token.getTimeSpentFormatted()}">Time</th>
                <td th:text="${token.getToken()}"></td>
                <td th:text="${token.getModels()}"></td>
                <td th:if="${admin}">
                    <form th:action="@{/token/delete}" method="post">
                        <input type="hidden" name="title" th:value="${token.title}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:insert="~{fragments::footer}"></div>
</body>
</html>